@font-face {
    font-family: "Title";
    src: url("sources/title-font.ttf");
}
@font-face {
    font-family: "Nav";
    src: url("sources/nav-font.ttf");
}

* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}


/* PC header styles */
header {
    background-color: black;
    color: white;
    display: flex;
}

#avatar {
    display: flex;
    justify-content: center;
    margin: 20px 20px 20px 50px;
}
#avatar img {
    width: 120px;
    transition: 0.2s ease;

}
#avatar img:hover {
    filter: grayscale(500);
    filter:saturate(3)
}

#title {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin: 20px;
    font-size: 30px;
    font-family: "Title";
    letter-spacing: 20px;
    transition: 0.2s ease;
    text-align: center;
}
#title:hover {
    text-shadow: 5px 5px 1px purple;
}

#navigation {
    margin: 20px 50px 20px 20px;
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
    font-size: large;
    text-transform: uppercase;
}
#navigation ul {
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style: none;
    font-family: "Nav";
    letter-spacing: 5px;
}
#navigation li {
    transition: 0.2s ease;
}
#navigation li:hover > a[class="active"] {
    transform: scale(1.1);
}
#navigation a {
    transition: 0.2s ease;
    color: white;
    text-decoration: none;
}
#navigation a.active:hover {
    color:  purple;
    transform: scale(1.1)
}
#nav-button {
    display: none;
}

/* Max 1000px width header styles */
@media screen and (max-width: 1000px) {
    #navigation ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
        text-align: center;
        white-space: nowrap;
    }
}

@media screen and (max-width: 760px) {
    #navigation {
        position: absolute;
        background-color: black;
        top: 180px;
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
        height: 0;
        transition: height 0.5s ease;
    }
    #navigation.active {
        height: 200px;
        overflow: unset;
    }
    #navigation nav {
        margin: 50px;
    }
    #navigation a {
        font-size: 30px;
    }
    #nav-button {
        margin: 20px 50px 20px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
    #nav-button.active button {
        border-color: purple;
    }
    #nav-button button {
        width: 100px;
        height: 100px;
        background-color: transparent;
        border: 0;
        display: flex;
        flex-direction: column;
        border: 2px solid white;
        border-radius: 6px;
        padding: 20px;
        transition: 0.2s ease;
    }
    #nav-button button div {
        width: 100%;
        height: 50%;
        transition: inherit;
    }
    #nav-but-top {
        border-top: 5px solid white;
        border-bottom: 3px solid white;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    #nav-but-down {
        border-top: 3px solid white;
        border-bottom: 5px solid white;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    #nav-button button:hover {
        border-color: purple;
    }
    #nav-button button:hover * {
        border-color: purple;
    }

    #navigation.showed
}

@media screen and (max-width: 650px) {
    #navigation {
        top: 140px;
    }
    #avatar {
        display: none;
    }
    #title {
        margin-left: 50px;
    }
}

@media screen and (max-width: 480px) {
    #navigation {
        top: 270px;
    }
    #navigation.active {
        height: 320px;
    }
    #navigation ul {
        display: flex;
        flex-direction: column;
    }
    header {
        flex-direction: column;
    }
    
    #title {
        margin: 20px auto 20px auto;
        display: block;
        flex: 1;
    }

    #nav-button {
        margin: 20px auto 20px auto;
        display: block;
        flex: 1;
    }
}

.content {
    position: absolute;
    width: 100%;
    margin: 20px;
}
.content.active {
    left: 0;
    right: unset;
    transition: 0.5s ease;
} 
.content.left {
    left: -200%;
    transform: unset;
}
.content.right {
    left: 300%;
    transform: unset;
}
.content.previous {
    transition: 0.5s ease;
}