@font-face {
    font-family: "Title";
    src: url("sources/title-font.ttf");
}
@font-face {
    font-family: "Nav";
    src: url("sources/nav-font.ttf");
}

* {
    margin: 0;
    padding: 0;
}
body {
    min-width: 320px;
    overflow: hidden;
}

header {
    background-color: black;
    color: white;
    display: flex;
}

#avatar {
    display: flex;
    justify-content: center;
    margin: 20px 20px 20px 50px;
}
#avatar img {
    width: 120px;
    transition: 0.2s ease;

}
#avatar img:hover {
    filter: grayscale(500);
    filter:saturate(3)
}

#title {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin: 20px;
    font-size: 30px;
    font-family: "Title";
    letter-spacing: 20px;
    transition: 0.2s ease;
}
#title:hover {
    text-shadow: 5px 5px 1px purple;
}


#navigation {
    margin: 20px 50px 20px 50px;
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
    font-size: large;
    text-transform: uppercase;
}
#navigation ul {
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style: none;
    font-family: "Nav";
    letter-spacing: 5px;
}
#navigation li {
    transition: 0.2s ease;
}
#navigation li:hover {
    color:  purple;
    transform: scale(1.1)
}